/* @import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "Arimo", sans-serif;
} */

.text-shadow {
  text-shadow: 0 0 50px rgba(225, 242, 150, 0.5);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
